{% extends "master.html" %}
{% load static %}


{% block title %}
  Perfumes
{% endblock %}


{% block content %}
  <center>
  <h1>Perfumes</h1>
  
  
  <h3>Check out our stock in:</h3>
  <img src="{% static 'images/paris_pic.jpg' %}" alt="Paris" width="128" height="128"/>
  <p> <a href="StockViewParis/">Paris</a></p>
  <img src="{% static 'images/london_pic.jpg' %}" alt="London" width="128" height="128"/>
  <p> <a href="StockViewLondon/">London</a></p>
  <img src="{% static 'images/moscow_pic.jpg' %}" alt="Moscow" width="128" height="128"/>
  <p> <a href="StockViewMoscow/">Moscow</a></p>
  <img src="{% static 'images/dubai_pic.jpg' %}" alt="Dubai" width="128" height="128"/>
  <p> <a href="StockViewDubai/">Dubai</a></p>
  

  <h3>Transactions</h3>
  
  <p>Check out all <a href="PerfumeAppView/">transactions</a></p>
  </center>
  
{% endblock %}